---
big_var: "this is accessed via layout.big_var"
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/inc/tufte.css"/>
    <link rel="stylesheet" href="/inc/euthydemus.css"/>
</head>
<body>
  <header class="site-header">
      Euthydemus: to teach is to destroy
  </header>
  <article class="content">
    {{ content }}
  </article>
  <footer>
        <form action="/search.html" method="get">
            <label for="search-box">Search</label>
            <input type="text" id="search-box" name="query">
            <input type="submit" value="search">
          </form>
  </footer>
</body>
</html>